/*--> GLobal <--*/
html {
  font-size: 32px;
  background-color: #fff;
}

h1{
  font-size: 1.75rem;
  font-weight: bold;
}

h2{
  font-size: 1.25rem;
  font-weight: bold;
}

h3{
  font-size: 1rem;
  font-weight: bold;
}

h4{
  font-size: .75rem;
  font-weight: bold;
}

a{
  text-decoration: none;
  color:inherit;
}

/*--> HEADER <--*/
header {
  position: fixed;
  width: 100%;
}

.navbar {
  height: 2rem;
  padding: 0rem .75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: .75rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logo span:first-child{
  color: #000;
}

.logo span:last-child{
  color: #ccc;
}

nav a {
  text-decoration: none;
  color: #000;
  display: flex;
}
.navlarge {
  display: flex;
  align-items: center;
}

.navlarge span{
    padding-right: .5rem;
    font-size: .5rem;
}

.navlarge span:lastchild{
    padding-right: 0rem;
}

.navmobile{
  display: none;
}

@media only screen and (max-width: 780px){
  .navbar{
    padding: 0px;
  }

  .logo{
    width: 25%;
    justify-content: center;
  }

  .logo span{
    display: none;
  }

  nav {
    width: 75%;
  }
  .navlarge{
    display: none;
  }

  .navmobile{
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}

/*--> MAIN <--*/
main {
  padding-top: 2rem;
}

.gray{
  background-color: #ccc;
}

.section {
  min-height: 400px;
}

/*--> Banner <--*/
.banner{
  display: flex;
}

.banner .primary{
  width: 60%;
  max-height: 12rem;
  margin: 1rem .75rem;
  display: flex;
  background-image: url(../images/banner.jpg);
  background-position: right top;
  background-size: cover;
  background-repeat: no-repeat;

}

.banner .secondary{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.banner .secondary h2,
.banner .secondary span{
  margin-bottom: .75rem;
}

.banner .secondary a {
  width: 100%;
  display: flex;

}

.banner .secondary div {
  width: 80%;
}

/*--> Information <--*/

/*--> Start learning <--*/

/*--> Thesis <--*/

/*--> Footer <--*/
